.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #2ec6af;
}

.card {
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: 20px;
    padding: 20px;
    transition: transform .1s;
    perspective: 1000px;
    position: relative;
    --border-size: 3px;
    --border-angle: 0deg;
    background-image: conic-gradient(from var(--border-angle), #213, #112 50%, #213),
        conic-gradient(from var(--border-angle), transparent 20%, #08f, #f03);
    background-size: calc(100% - (var(--border-size) * 2)) calc(100% - (var(--border-size) * 2)), cover;
    background-position: center center;
    background-repeat: no-repeat;
    animation: bg-spin 10s linear infinite;
    
    transform-style: preserve-3d;
   
}



@keyframes bg-spin {
    to {
        --border-angle: 1turn;
    }
}

@property --border-angle {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}



header {
    background: linear-gradient(to right, rgb(0, 128, 58), rgb(59, 24, 111));
    color: white;
    text-align: center;
    padding: 20px;
}


h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
}

p {
    font-size: 16px;
}

/* Estilos de secciones */
.about,
.projects,
.contact {
    text-align: center;
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to right, rgb(0, 128, 58), rgb(59, 24, 111));
}

.projects {
    margin: 10px 0;

}

/* Estilos de footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #441f9a;
    color: white;
    background: linear-gradient(to right, rgb(0, 128, 58), rgb(59, 24, 111));
}