.container
{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #2ec6af;
}

.card {
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: 20px;
    padding: 20px;
    transition: transform .1s;
}

.card:hover {
    transform: scale(1.20);
    transition: transform .1s;
}
header {
    background-color: #441f9a;
    color: white;
    text-align: center;
    padding: 20px;
}


h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
}

p {
    font-size: 16px;
}

/* Estilos de secciones */
.about, .projects, .contact {
    text-align: center;
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.project {
    margin: 10px 0;
}

/* Estilos de footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #441f9a;
    color: white;
}